PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE documents (
	id INTEGER NOT NULL, 
	filename VARCHAR NOT NULL, 
	filepath VARCHAR NOT NULL, 
	file_size INTEGER NOT NULL, 
	upload_time DATETIME, 
	doc_category VARCHAR NOT NULL, 
	chunk_count INTEGER, 
	PRIMARY KEY (id)
);
INSERT INTO documents VALUES(1,'Transformer_X_Manual.txt','D:\Hub-2\SmartHub\backend\data\engineering\Transformer_X_Manual.txt',505,'2026-09-04 09:30:42.017994','engineering',1);
INSERT INTO documents VALUES(2,'Controller_FAQ.txt','D:\Hub-2\SmartHub\backend\data\customer_support\Controller_FAQ.txt',632,'2026-09-04 09:30:42.018001','customer_support',1);
INSERT INTO documents VALUES(3,'Substation_Tender_Specs.txt','D:\Hub-2\SmartHub\backend\data\proposals\Substation_Tender_Specs.txt',430,'2026-09-04 09:30:42.018005','proposals',1);
CREATE TABLE chat_sessions (
	id VARCHAR NOT NULL, 
	title VARCHAR NOT NULL, 
	feature_type VARCHAR NOT NULL, 
	created_at DATETIME, 
	PRIMARY KEY (id)
);
INSERT INTO chat_sessions VALUES('8875bded-0d75-4908-9150-c3643013427f','Support Simulator - 04/09/2026','customer_support','2026-09-04 09:33:23.037550');
INSERT INTO chat_sessions VALUES('f0c53490-09af-40b9-acae-496c14e0551c','Support Simulator - 04/09/2026','customer_support','2026-09-04 09:36:46.948444');
INSERT INTO chat_sessions VALUES('ffa5fa80-f65f-40a8-a1f8-ead2d9187ad4','Eng Chat - 15:09','engineering','2026-09-04 09:39:05.010147');
CREATE TABLE maintenance_history (
	id INTEGER NOT NULL, 
	equipment_name VARCHAR NOT NULL, 
	failure_mode VARCHAR NOT NULL, 
	symptoms TEXT NOT NULL, 
	resolution TEXT NOT NULL, 
	date_recorded DATETIME, 
	PRIMARY KEY (id)
);
INSERT INTO maintenance_history VALUES(1,'Transformer X','Cooling Fan Jammed & Overheating','Oil temperature reading 95┬░C, high acoustic humming noise, radiator fins dusty.','Power shut down. Cleaned radiator fins. Removed jammed cooling fan motor, replaced with OEM spare, refilled insulation oil, and verified normal winding resistance.','2026-09-04 09:30:41.721745');
INSERT INTO maintenance_history VALUES(2,'MCC Panel A','Terminal Block Ground Fault','Main circuit breaker tripped. Visual sign of blackening on copper terminals. Insulation resistance measured at 0.5 Megaohms.','Replaced the carbonized terminal block. Polished contacts. Set the overcurrent protection relay threshold from 1.2x to 1.1x for safety. Re-tested insulation to 100+ Megaohms.','2026-09-04 09:30:41.721750');
INSERT INTO maintenance_history VALUES(3,'GIS Switchgear B','SF6 Gas Pressure Leak','Low gas pressure alarm triggered on SCADA (SF6 pressure drops below 0.42 MPa). Winding temp normal.','Conducted soap bubble leak test. Located leakage at the secondary pressure monitoring valve seal. Tightened valve connection, replaced O-ring, and refilled SF6 gas to nominal 0.55 MPa.','2026-09-04 09:30:41.721752');
CREATE TABLE proposals (
	id INTEGER NOT NULL, 
	customer_name VARCHAR NOT NULL, 
	project_name VARCHAR NOT NULL, 
	capacity VARCHAR NOT NULL, 
	location VARCHAR NOT NULL, 
	generated_draft TEXT NOT NULL, 
	created_at DATETIME, 
	reviewed_by VARCHAR, 
	PRIMARY KEY (id)
);
CREATE TABLE materials (
	material_id VARCHAR(50) NOT NULL, 
	material_name VARCHAR(100) NOT NULL, 
	category VARCHAR(50), 
	unit VARCHAR(20), 
	minimum_stock INTEGER, 
	supplier VARCHAR(100), 
	PRIMARY KEY (material_id)
);
CREATE TABLE material_batches (
	batch_id VARCHAR(50) NOT NULL, 
	material_id VARCHAR(50) NOT NULL, 
	quantity INTEGER, 
	manufacture_date VARCHAR(50), 
	received_date VARCHAR(50), 
	expiry_date VARCHAR(50), 
	batch_status VARCHAR(50), 
	PRIMARY KEY (batch_id)
);
CREATE TABLE inventory (
	inventory_id VARCHAR(50) NOT NULL, 
	material_id VARCHAR(50) NOT NULL, 
	batch_id VARCHAR(50), 
	location VARCHAR(100), 
	quantity INTEGER, 
	status VARCHAR(50), 
	last_updated VARCHAR(50), 
	PRIMARY KEY (inventory_id)
);
CREATE TABLE stations (
	station_id VARCHAR(50) NOT NULL, 
	station_name VARCHAR(100) NOT NULL, 
	station_type VARCHAR(50), 
	location VARCHAR(100), 
	status VARCHAR(50), 
	PRIMARY KEY (station_id)
);
CREATE TABLE machines (
	machine_id VARCHAR(50) NOT NULL, 
	machine_name VARCHAR(100) NOT NULL, 
	machine_type VARCHAR(50), 
	station_id VARCHAR(50), 
	status VARCHAR(50), 
	installation_date VARCHAR(50), 
	PRIMARY KEY (machine_id)
);
CREATE TABLE production_orders (
	order_id VARCHAR(50) NOT NULL, 
	product_name VARCHAR(100) NOT NULL, 
	quantity INTEGER, 
	priority VARCHAR(20), 
	planned_start VARCHAR(50), 
	planned_end VARCHAR(50), 
	actual_start VARCHAR(50), 
	actual_end VARCHAR(50), 
	status VARCHAR(50), 
	PRIMARY KEY (order_id)
);
CREATE TABLE production_tasks (
	task_id VARCHAR(50) NOT NULL, 
	order_id VARCHAR(50), 
	task_type VARCHAR(50), 
	source_location VARCHAR(100), 
	destination_location VARCHAR(100), 
	station_id VARCHAR(50), 
	machine_id VARCHAR(50), 
	priority VARCHAR(20), 
	status VARCHAR(50), 
	planned_duration_minutes FLOAT, 
	actual_duration_minutes FLOAT, 
	created_at VARCHAR(50), 
	completed_at VARCHAR(50), 
	PRIMARY KEY (task_id)
);
CREATE TABLE products (
	product_id VARCHAR(50) NOT NULL, 
	order_id VARCHAR(50), 
	product_name VARCHAR(100), 
	material_batch_id VARCHAR(50), 
	machine_id VARCHAR(50), 
	production_start VARCHAR(50), 
	production_end VARCHAR(50), 
	status VARCHAR(50), 
	PRIMARY KEY (product_id)
);
CREATE TABLE sensor_readings (
	reading_id VARCHAR(50) NOT NULL, 
	timestamp VARCHAR(50), 
	machine_id VARCHAR(50) NOT NULL, 
	temperature FLOAT, 
	vibration FLOAT, 
	current FLOAT, 
	pressure FLOAT, 
	machine_status VARCHAR(50), 
	is_anomaly INTEGER, 
	PRIMARY KEY (reading_id)
);
CREATE TABLE equipment_events (
	event_id VARCHAR(50) NOT NULL, 
	timestamp VARCHAR(50), 
	machine_id VARCHAR(50), 
	event_type VARCHAR(50), 
	description TEXT, 
	severity VARCHAR(20), 
	PRIMARY KEY (event_id)
);
CREATE TABLE material_movements (
	movement_id VARCHAR(50) NOT NULL, 
	material_id VARCHAR(50), 
	batch_id VARCHAR(50), 
	from_location VARCHAR(100), 
	to_location VARCHAR(100), 
	quantity INTEGER, 
	movement_time VARCHAR(50), 
	task_id VARCHAR(50), 
	status VARCHAR(50), 
	PRIMARY KEY (movement_id)
);
CREATE TABLE quality_inspections (
	inspection_id VARCHAR(50) NOT NULL, 
	product_id VARCHAR(50), 
	inspection_time VARCHAR(50), 
	result VARCHAR(50), 
	defect_type VARCHAR(100), 
	quality_score FLOAT, 
	inspector VARCHAR(100), 
	PRIMARY KEY (inspection_id)
);
CREATE TABLE traceability_logs (
	trace_id VARCHAR(50) NOT NULL, 
	product_id VARCHAR(50), 
	order_id VARCHAR(50), 
	material_batch_id VARCHAR(50), 
	machine_id VARCHAR(50), 
	station_id VARCHAR(50), 
	event_type VARCHAR(50), 
	event_time VARCHAR(50), 
	description TEXT, 
	PRIMARY KEY (trace_id)
);
CREATE TABLE alerts (
	alert_id VARCHAR(50) NOT NULL, 
	alert_type VARCHAR(50), 
	machine_id VARCHAR(50), 
	task_id VARCHAR(50), 
	product_id VARCHAR(50), 
	severity VARCHAR(20), 
	message TEXT, 
	created_at VARCHAR(50), 
	status VARCHAR(50), 
	PRIMARY KEY (alert_id)
);
CREATE TABLE ai_predictions (
	prediction_id INTEGER NOT NULL, 
	machine_id VARCHAR(50), 
	temperature FLOAT, 
	vibration FLOAT, 
	current FLOAT, 
	prediction VARCHAR(20), 
	anomaly_score FLOAT, 
	created_at VARCHAR(50), 
	PRIMARY KEY (prediction_id)
);
CREATE TABLE chat_messages (
	id INTEGER NOT NULL, 
	session_id VARCHAR NOT NULL, 
	sender VARCHAR NOT NULL, 
	text TEXT NOT NULL, 
	citations TEXT, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(session_id) REFERENCES chat_sessions (id)
);
INSERT INTO chat_messages VALUES(1,'ffa5fa80-f65f-40a8-a1f8-ead2d9187ad4','user','tell me about the List of Experiments there ?',NULL,'2026-09-04 09:39:22.722210');
INSERT INTO chat_messages VALUES(2,'ffa5fa80-f65f-40a8-a1f8-ead2d9187ad4','user','tell me about the List of Experiments there ?',NULL,'2026-09-04 09:39:33.979137');
INSERT INTO chat_messages VALUES(3,'ffa5fa80-f65f-40a8-a1f8-ead2d9187ad4','user','tell me about the List of Experiments there ?',NULL,'2026-09-04 09:40:36.761819');
CREATE INDEX ix_documents_id ON documents (id);
CREATE INDEX ix_maintenance_history_id ON maintenance_history (id);
CREATE INDEX ix_proposals_id ON proposals (id);
CREATE INDEX ix_chat_messages_id ON chat_messages (id);
COMMIT;
